<div class="container-fluid" id="banner" > 
    <div class="row">
      <img src="assets/imagenes/bg.png" class="img-fluid" alt="prueba"/>
    </div>
  </div>

<div class="mat-card" id="first-card">
  <div class="container-fluid"> 
    <div class="row">
      <div class="col-lg-2" id="image-profile">
        <img class="profile-image" src="assets/imagenes/f1.jpg">
      </div>
        <div class="col-lg-10" id="info-datos">

          <div class="btn_edicion">
            <i class="bi bi-pencil-square" id="edicion-btn"></i>
        </div>
           <h1>Jessica Huertas Peral</h1>
           <h2>Full Stack Developer Jr</h2>
        </div>
    </div>
  </div>
</div>
  
  <div class="container-fluid" id="descripción"> 
    <div class="row">
        <h1>Acerca de</h1>
        <div class="btn_edicion">
          <i class="bi bi-pencil-square" id="edicion-btn"></i>
        <i class="bi bi-x-square"></i>
      </div>
        <p>Mi vida se resume en un fantástico viaje, donde puedo experimentar y escribir mis mejores líneas. 
          Decidida ya hace unos años a darle un nuevo rumbo acompañada del amor incondicional de mi familia, y que mejor que hacerlo con dinamismo y convicción , enriqueciéndome de culturas amigos experiencias y sueños cumplidos, dando siempre prioridad a la superación atreves de la constancia,  aprendiendo a adaptarme con mucha ilusión y aprendizaje , consciente que el trabajo y esfuerzo llevan siempre al éxito de alcanzar una nueva oportunidad donde poder avanzar a la siguiente gran recompensa.</p>
    </div>
  </div>
