<div class="container-fluid" id="banner">
  <div class="row">
    <img src="assets/imagenes/bg.png" class="img-fluid" alt="prueba" />
  </div>
</div>

<div class="mat-card" id="first-card">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2" id="image-profile">
        <img class="profile-image" src="{{persona.img}}" alt="Foto Perfil" />

      </div>
      <div class="col-lg-10" id="info-datos">

        <h1>{{persona.nombre}} {{persona.apellido}}</h1>
        <h2>{{persona.titulo}}</h2>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="descripción">
  <div class="row">
    <div class="col text-end">
      <button type="button" class="btn btn-outline-dark bi bi-plus-square"  *ngIf="isLogged"
      routerLink="/editAcerca/{{ persona.id }}" title="Editar"> Editar datos personales  
      </button>
    </div>

    <h1>Acerca de mi</h1>
    <p id="acerca">{{persona.acerca}}</p>

  </div>
</div>