<h1>Educacion</h1>
            
<div class="container" id="Experiencia">
  <div class="row">
    <div class="card mb-3" id="Exper" style="max-width: 540px;">
    <div class="row g-0">
      <div class="btn_edicion">
        <i class="bi bi-pencil-square" id="edicion-btn"></i>
      <i class="bi bi-x-square"></i>
    </div>
      <div class="col-md-4">
        <h5 class="card-title">Ies Moianes</h5>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text"> Secundaria </p>
          <p class="card-text"><small class="text-muted">Septiembre 2001 - Junio 2006</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" id="Exper" style="max-width: 540px;">
    <div class="row g-0">
      <div class="btn_edicion">
        <i class="bi bi-pencil-square" id="edicion-btn"></i>
      <i class="bi bi-x-square"></i>
    </div>
      <div class="col-md-4">
        <h5 class="card-title">Palabra de vida</h5>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text">1r año Teologia</p>
          <p class="card-text"><small class="text-muted">Marzo 2008 - Diciembre 2009</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" id="Exper" style="max-width: 540px;">
    <div class="row g-0">
      <div class="btn_edicion">
        <i class="bi bi-pencil-square" id="edicion-btn"></i>
      <i class="bi bi-x-square"></i>
    </div>
      <div class="col-md-4">
       <h5 class="card-title">Argentina Programa</h5>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text"> #Seprogramar</p>
          <p class="card-text"><small class="text-muted">Febrero 2022 - Abril 2022</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" id="Exper" style="max-width: 540px;">
    <div class="row g-0">
      <div class="btn_edicion">
        <i class="bi bi-pencil-square" id="edicion-btn"></i>
      <i class="bi bi-x-square"></i>
    </div>
      <div class="col-md-4">
        <h5 class="card-title">Argentina Programa</h5>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text">Full Stack Developer Jr </p>
          <p class="card-text"><small class="text-muted">Agosto 2022 - Enero 2023</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>