<br>
<h1>Proyectos</h1>
<br>
<div class="card-group" id="card">
  <div class="card">
    <div class="card-body">
      <div class="btn_edicion">
        <i class="bi bi-pencil-square" id="edicion-btn"></i>
      <i class="bi bi-x-square"></i>
    </div>
    <img src="assets/imagenes/portafolio.png" style="width: 70%"; class="card-img-top" alt="Portafolio" >
    <h5 class="card-title">Portafolio</h5>
      <p class="card-text">Este proyecto es mi portafolio en el que mostrare mis trabajos</p>
      <p class="card-text"><small class="text-muted">Realizado el 15/01/2023</small></p>
      <a href="" class="btn btn-primary">Link </a>
       </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="btn_edicion">
        <i class="bi bi-pencil-square" id="edicion-btn"></i>
      <i class="bi bi-x-square"></i>
    </div>
      <img src="assets/imagenes/trabajando.jpg" style="width: 50%;" class="card-img-top" alt="Portafolio" >
      <h5 class="card-title">Proyecto 2</h5>
      <p class="card-text">Esta sección se encuentra en obras, proximamente se abrira el paso. </p>
      <p class="card-text"><small class="text-muted">Fecha realización</small></p>
      <a href="assets/imagenes/trabajando.jpg" class="btn btn-primary">Link </a>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="btn_edicion">
        <i class="bi bi-pencil-square" id="edicion-btn"></i>
      <i class="bi bi-x-square"></i>
    </div>
      <img src="assets/imagenes/coming_soon.jpg" style="width: 50%;"  class="card-img-top" alt="Portafolio">
      <h5 class="card-title">Proyecto 3</h5>
      <p class="card-text">Proximamente se abrira esta sección, aquí estaran nuevos proyectos. </p>
      <p class="card-text"><small class="text-muted">Fecha realización</small></p>
      <a href="assets/imagenes/coming_soon.jpg" class="btn btn-primary">Link </a>
    </div>
  </div>

</div>
<br>  
