<h1>Experiencia</h1>
        
<div class="container" id="Experiencia">
  <div class="row">
    <div class="card mb-3" id="Exper" style="max-width: 540px;">
      <div class="row g-0">
        <div class="btn_edicion">
          <i class="bi bi-pencil-square" id="edicion-btn"></i>
          <i class="bi bi-x-square"></i>
        </div>
        <div class="col-md-4">
          <h5 class="card-title">Nostrum</h5>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <p class="card-text"> Atención al cliente.</p>
            <p class="card-text"> Cobros, servicio de comida, organización.</p>
            <p class="card-text"><small class="text-muted">Agosto 2007 - Septiembre 2008</small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" id="Exper" style="max-width: 540px;">
      <div class="row g-0">
        <div class="btn_edicion">
          <i class="bi bi-pencil-square" id="edicion-btn"></i>
          <i class="bi bi-x-square"></i>
        </div>
        <div class="col-md-4">
          <h5 class="card-title">La doma</h5>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <p class="card-text">Personal de cocina</p>
            <p class="card-text"> Preparacion platos y postres. Trabajo en equipo.</p>
            <p class="card-text"><small class="text-muted">Junio 2010 - Noviembre 2011</small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" id="Exper" style="max-width: 540px;">
      <div class="row g-0">
        <div class="btn_edicion">
          <i class="bi bi-pencil-square" id="edicion-btn"></i>
          <i class="bi bi-x-square"></i>
        </div>
        <div class="col-md-4">
          <h5 class="card-title">Hosteria del ghetto</h5>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <p class="card-text"> Cocina kosher</p>
            <p class="card-text"> Cocinar comida kosher</p>
            <p class="card-text"><small class="text-muted">Enero 2012 - Junio 2013</small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" id="Exper" style="max-width: 540px;">
      <div class="row g-0">
        <div class="btn_edicion">
          <i class="bi bi-pencil-square" id="edicion-btn"></i>
          <i class="bi bi-x-square"></i>
        </div>
        <div class="col-md-4">
          <h5 class="card-title">Mayim Rabim</h5>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <p class="card-text">Personal de sala </p>
            <p class="card-text"> Servicio sala. Atencón al cliente.</p>
            <p class="card-text"><small class="text-muted">2015 - 2016</small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" id="Exper" style="max-width: 540px;">
      <div class="row g-0">
        <div class="btn_edicion">
          <i class="bi bi-pencil-square" id="edicion-btn"></i>
          <i class="bi bi-x-square"></i>
        </div>
        <div class="col-md-4">
          <h5 class="card-title">Dolce Cucina</h5>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <p class="card-text">Responsable de Producción y venta </p>
            <p class="card-text">Pastelería, Panificación y Pastas Artesanales </p>
            <p class="card-text"><small class="text-muted">Mayo 2017 - Junio 2022</small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" id="Exper" style="max-width: 540px;">
      <div class="row g-0">
        <div class="btn_edicion">
          <i class="bi bi-pencil-square" id="edicion-btn"></i>
          <i class="bi bi-x-square"></i>
        </div>
        <div class="col-md-4">
          <h5 class="card-title">Catering y Banquetes</h5>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <p class="card-text">Personal de cocina</p>
            <p class="card-text"> Preparacion platos y postres. Trabajo en equipo.</p>
            <p class="card-text"><small class="text-muted">Junio 2010 - Noviembre 2011</small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" id="Exper" style="max-width: 540px;">
      <div class="row g-0">
        <div class="btn_edicion">
          <i class="bi bi-pencil-square" id="edicion-btn"></i>
          <i class="bi bi-x-square"></i>
        </div>
        <div class="col-md-4">
          <h5 class="card-title">Parque Historico D.L.B. </h5>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <p class="card-text"> Responsable Cocina </p>
            <p class="card-text"> Preparación platos y postres.</p>
            <p class="card-text"><small class="text-muted">Enero 2012 - Junio 2013</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>