<div>
  <h1>Experiencia</h1>
</div>

<div class="col text-end">
  <button type="button" class="btn btn-sm btn-outline-secondary bi bi-plus-square" routerLink="/nuevaexp"
    *ngIf="isLogged">
    Añadir
  </button>
</div>

<div class="row" *ngIf="experiencia?.length == 0">
  <p style="color: rgb(162, 192, 196)">No hay experiencias registradas</p>
</div>
<div class="container" id="Experiencia">
  <div class="row">
    <div *ngFor="let Experiencia of experiencia">
      <div class="card mb-3" id="Exper" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <h5 class="card-title">{{Experiencia.empresaExpe}}</h5>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-text">{{Experiencia.nombreExpe}}</p>
              <p class="card-text">{{Experiencia.descripcionExpe}}</p>
              <p class="card-text"><small class="text-muted">{{ Experiencia.fechainicio }} - {{ Experiencia.fechafin
                  }}</small></p>
            </div>
            <div class="col-6 col-sm-1">
              <button *ngIf="isLogged" class="bi bi-pencil btn btn-sm btn-outline-dark"
                routerLink="/editexp/{{ Experiencia.id }}">
                Editar
              </button>
            </div>
            <div class="col-6 col-sm-1">
              <button *ngIf="isLogged" title="delete" class="bi bi-trash3-fill btn btn-sm btn-outline-danger"
                (click)="delete(Experiencia.id)">
                Borrar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>