<app-component></app-component>
<nav>
  <nav class="navbar navbar-expand-lg" style="background-color: #ead4f7;">
    <div class="container-fluid">
      <a class="navbar-brand" ><img src="imagenes/logo_arg.png"></a>
      <h3> #YoProgramohola</h3>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="icons">
          <li class="nav-item">
            <a class="nav-link"  href="#"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.linkedin.com/in/jessica7rm/"><i class="bi bi-linkedin"></i> Linkedin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://walink.co/e93fe6"><i class="bi bi-whatsapp"></i> Whatsapp</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.instagram.com/jessica7rm/"><i class="bi bi-instagram"></i> Instagram</a>
          </li>
          
        </ul>
        <button class="btn btn-outline-dark btn-lg" type="submit">Login</button>
      </div>
    </div>
  </nav>
</nav>
        
  

<body>
  <div class="container-fluid" id="banner" > 
    <div class="row">
      <img src="imagenes/JESSYFONDO3.jpg" class="img-fluid" alt="prueba"/>
    </div>
  </div>

  <div class="mat-card" id="first-card">
   <div class="container-fluid"> 
      <div class="row">
       <div class="col-2" id="image-profile">
        <img class="profile-image" src="imagenes/f1.jpg">
        </div>
          <div class="col-10">
           <div id="info-datos"> 
           <h1>Jessica Huertas Peral</h1>
          <h2>Full Stack Developer Jr</h2>
 
        </div>
       
       </div>
      </div>
      </div>
</div>
  
  <div class="container-fluid" id="info"> 
    <div class="row">
        <h1>Acerca de</h1>
        <p>Soy una persona dinamica, me gusta viajar y conocer otras culturas.
           Tengo gran capacidad para adaptarme a todo tipo de entornos y aportar siempre lo mejor de mi. <br>
        Me caracterizo por mi facilidad de trabajar en equipo y mi entusiasmo por aprender y desarrollar mis habilidades.
        En busqueda de una oportunidad laboral en la que adquirir más experiencia.</p>


        <h1>Experiencia</h1>
        <p>Experiencia Aquí colocarás toda la información
          de los lugares donde has trabajado, incluyendo título del puesto, periodo, logo de la empresa, si lo encontrás, y descripción de las actividades realizadas en ese puesto.</p>
       
        <h1>Educacion</h1>
        <div class="estudios">
         <ul class="info-estudios">
          <li> Ies Moianes</li>
          <li> Secundario Completo</li>
          <li> Finalizado 2008</li>
          <br>
          <li> Argentina Programa #Se programar </li>
          <li> 2/02/2022 - 31/03/2022</li>
         </ul>
        </div>
        
        <p> Educación
          Escribir toda la información de tu formación académica, certificaciones, cursos, y todo lo relacionado al título con que actualmente contás. Es importante detallar la información de la institución, el logo (de ser posible), nombre, carrera o título estudiado, y en qué periodo o año.</p>
    </div>
  </div>
        

    <div class="container-fluid" id="skills"> 
        <div class="row">
          <div class="col-md">
        <h1>Habilidades Soft Skills</h1>
        <p>Trabajo en equipo</p>
        <div class="progress" >
          <div class="progress-bar "role="progressbar" style="width: 98%; background-color: #0e0b08"  aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">98%</div>
        </div>
        <p>Gestion del tiempo</p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 80%; background-color: #d613b2" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
        </div>
        <p>Responsabilidad</p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 34%; background-color: #ea1620" aria-valuenow="34" aria-valuemin="0" aria-valuemax="100">34%</div>
        </div>
        <p>Adaptación al cambio</p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 70%; background-color: #f010e8" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
        </div>
          </div>
      
        <div class="col-md">
        <h1>Habilidades Hard Skills</h1>
        <p>Git - Github</p>
        <div class="progress" >
          <div class="progress-bar "role="progressbar" style="width: 98%; background-color: #0e0b08"  aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">98%</div>
        </div>
        <p>FronEnd</p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 80%; background-color: #d613b2" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
        </div>
        <p>Base de datos</p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 34%; background-color: #ea1620" aria-valuenow="34" aria-valuemin="0" aria-valuemax="100">34%</div>
        </div>
        <p>BackEnd</p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 70%; background-color: #f010e8" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
        </div>
        </div>
      </div>
    </div>
        <br>

        <div class="container-fluid" id="idiomas"> 
        <br>
        <h1>Idiomas</h1>
        <p>Español</p>
        <div class="progress" >
          <div class="progress-bar "role="progressbar" style="width: 98%; background-color: #0e0b08"  aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">98%</div>
        </div>
        <p>Catalan</p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 80%; background-color: #d613b2" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
        </div>
        <p>Ingles</p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 34%; background-color: #ea1620" aria-valuenow="34" aria-valuemin="0" aria-valuemax="100">34%</div>
        </div>
        <p>Italiano</p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 70%; background-color: #f010e8" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
        </div>
        </div>

        <br>
        <h1>Proyectos</h1>
        <br>
        
        <div class="card-group" id="card">
          <div class="card">
            <div class="card-body">
            <img src="imagenes/foto1.jpg" style="width: 50%"; class="card-img-top" alt="Portafolio" >
              <h5 class="card-title">Portafolio</h5>
              <p class="card-text">Este proyecto es mi portafolio en el que mostrare mis trabajos</p>
              <p class="card-text"><small class="text-muted">Realizado el 15/01/2023</small></p>
              <a href="#" class="btn btn-primary">Link </a>
               </div>
          </div>

          <div class="card">
            <div class="card-body">
              <img src="imagenes/foto1.jpg" style="width: 50%;" class="card-img-top" alt="Portafolio" >
              <h5 class="card-title">Proyecto 2</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. </p>
              <p class="card-text"><small class="text-muted">Fecha realización</small></p>
              <a href="#" class="btn btn-primary">Link </a>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <img src="imagenes/foto1.jpg" style="width: 50%;"  class="card-img-top" alt="Portafolio">
              <h5 class="card-title">Proyecto 3</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. </p>
              <p class="card-text"><small class="text-muted">Fecha realización</small></p>
              <a href="#" class="btn btn-primary">Link </a>
            </div>
          </div>

        </div>
        <br>
        <p> En esta sección deberá encontrarse la información sobre los proyectos que desarrollaste o en que te involucraste, incluyendo este portfolio web. Cada proyecto deberá contener el nombre, fecha de realización, descripción y el link a su evidencia. Además, podés ilustrar esta sección con imágenes de los proyectos.</p>

    </body>
    <footer>
      <br>
      <p> Todos los derechos reservados 2022</p>
      
    </footer>

