nav {
   display: block;
   margin: 0px 0px;
}

#icons {
   font-size: 20px;
   font-weight:500;
}


#banner img {
   padding: 20px;
   background-color: #e4e2e1d5;
}

#first-card {
   background-color: #e4e2e1d5;
   margin: 0px 0px;
   padding: 20px;
   z-index: auto;
}

#info-datos h1, h2 {
   margin-top: 10px;
   text-align: initial;
}

.profile-image {
   border-radius: 30%;
   width: 170px; 
   height: 190px;
   z-index: auto;  
}

#descripción {
   padding: 50px;
   margin: auto;
   text-align: center;
}


#Experiencia {
   padding: 10px;
   margin: auto;

} 

#Exper{
   margin: 10px;
}

.col-md-4{
   align-self: center;
   text-align: center;
}

#skills {
   padding: 30px;
   margin-top: 10px;
}

#idiomas {
   padding: 20px;
   
}

h1 {
  text-align: center;
}

#card{
   column-gap: 10px;
   row-gap: 10px;
   align-items: center;
   text-align: center;
   padding: 40px;
   margin: 10px;
}

#card img{
   padding: 10px;
}

.card {
    background-color: #e4e2e1d5;
}

#card-img-top{
   width: 60%;
}



footer{
   text-align: center;
}

